<div class="header-wrapper">
  <div class="header">
    <div class="header__image">
      <a routerLink="/list">
        <img src="/assets/shopping-cart.svg" />
      </a>
    </div>
    <div class="header__info">
      <div class="header__title">Product Center</div>
      <div class="header__cards">
        <div class="header__card">
          <span class="card__number">{{ productCount }}</span>
          <span class="card__title">products</span>
        </div>
      </div>
    </div>
  </div>
</div>
